.main-nav {
  background-color: rgba(255, 255, 255, 0.8) !important;
  z-index: 2;
  backdrop-filter: saturate(180%) blur(5px);
  border-radius: 20px;
}

.marginbotttom-main {
  margin-bottom: 90px;
}

.nav-button {
  border: none !important;
}

.search-icon{
  background-color: #fff;
  border:1px solid #d2d6da;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 0;
}

.bg-searchbox{
  border-left: 0 !important;
}



@media only screen and (max-width: 480px) {
  .bg-searchbox{
    width: 100%;
  }
}
