.card-register {
    border-radius: 15px !important;
  }
  
  .btn-grad {
    background-image: linear-gradient(
      to right,
      #00c6ff 0%,
      #0072ff 51%,
      #00c6ff 100%
    );
  }
  .btn-grad {
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
    border: none;
    width: 100%;
  }
  
  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .headingstyles {
    background-color: #0072ff;
    background-image: linear-gradient(
      to right,
      #00c6ff 0%,
      #0072ff 51%,
      #00c6ff 100%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 900;
  }
  